<div class="card" >
    <img  src="assets/{{foundItem.picture.name}}" class="card-img-top img-thumbnail" alt="found_item">
    <div class="card-body">

      <h3 class="d-inline-block card-title">{{foundItem.name}}</h3>
      <h6 class="d-inline-block card-sub-title  text-muted float-right margin-top"><a href="users/">{{foundItem.founder.username}}</a></h6>
      <p class="card-text">{{foundItem.getTempDescription()}}</p>

      <div class="button-group ">
        <a href="#" class="btn btn-outline-info">Details</a>
        <a href="#" class="btn btn-outline-success  float-right">That's mine</a>
      </div>
    </div>
  </div>

