<div class="body">
<mat-toolbar color="primary">
  <button mat-button href="/">
    <mat-icon>home</mat-icon>
  </button>

  <span class="fill-remaining-space" fxHide="false" fxHide.gt-sm></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>

  </div>

</mat-toolbar>
<div class="container h-100 d-flex justify-content-center ">
  <aside class="col-sm-4  my-5">
    <div class="card ">
      <article class="card-body ">
        <h4 class="card-title text-center mb-4 mt-1">Lost but Found</h4>
        <hr>
        <p class="text-success text-center"></p>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
        <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text"> <mat-icon>person</mat-icon></span>
          </div>
          <input formControlName="username" name="" class="form-control" placeholder="Username" >
        </div> <!-- input-group.// -->
        </div> <!-- form-group// -->
        <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text"> <mat-icon>lock</mat-icon> </span>
          </div>
            <input formControlName="password" class="form-control" placeholder="******" type="password">
        </div> <!-- input-group.// -->
        </div> <!-- form-group// -->
        <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Login  </button>
        </div> <!-- form-group// -->
        <p class="text-center"><a href="#" class="btn">Forgot password?</a></p>
      </form>
      </article>
      </div> <!-- card.// -->
    </aside>
    </div>

    <!--container end.//-->
</div>

