.filter-select {
  width: 250px;
  font-size: 70%;
  }

  .search {
  width: 400px;;
  }


  .container{
    width: 100vh;
  }

  .card-container {
    margin-left: 10%;
  }

  .choosen-sort {

    background-color: rgba(243, 233, 233, 0.644);

  }
