<mat-toolbar>
  <button mat-button [matMenuTriggerFor]="sort"><mat-icon>sort</mat-icon></button>

    <ng-multiselect-dropdown
      class="filter-select"
      placeholder="Filters"
      name="Filters"
      [settings]="dropdownSettings"
      [data]="filters"
      [(ngModel)]="searchOptions.labels"
      (onSelect)="onItemSelect($event)"
      (onDeSelect)="onItemSelect($event)"
    >
    </ng-multiselect-dropdown>

    <div class="input-group col-md-5  ">

      <input [(ngModel)]="searchOptions.searchText" class="form-control my-0 py-1 red-border" type="text" placeholder="Search" aria-label="Search" >
      <div class="input-group-append">
        <button (click)="refreshItems()"  class="btn btn-link text-primary" ><mat-icon>search</mat-icon></button>
      </div>

    </div>

</mat-toolbar>


<mat-menu  xPosition="before" #sort="matMenu">
  <div >
    <button id='latest' class=" choosen-sort" mat-menu-item  (click)="setLatestFirst(true)">Latest uploads </button>
    <button mat-menu-item id="oldest"  (click)="setLatestFirst(false)">Oldest uploads</button>
  </div>
</mat-menu>


<div class="row card-container py-5"  >
  <div *ngFor="let item of lostItems | async " class="col-md-2.5 my-4 mx-3" >
    <app-lost-item-card [lostItem] = item> </app-lost-item-card>
  </div>
</div>






