<mat-toolbar color="primary">
  <button mat-button routerLink="/home" routerLinkActive="true">
    <mat-icon>home</mat-icon>
  </button>

  <span class="fill-remaining-space" fxHide="false" fxHide.gt-sm></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/lost_items" routerLinkActive="true">Lost items</button>
    <button mat-button routerLink="/found_items/"  routerLinkActive="true" >Found items</button>


  </div>
  <button fxHide="true" fxShow.gt-sm class=" ml-auto btn btn-outline-info  " [matMenuTriggerFor]="profile" href="/user">
    <mat-icon>person</mat-icon>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>

  <button class="nav navbar-nav ml-auto" mat-icon-button [matMenuTriggerFor]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu xPosition="before" #menu="matMenu">
  <button mat-menu-item  routerLink="/lost_items" routerLinkActive="true">Lost items</button>
  <button mat-menu-item routerLink="/found_items" routerLinkActive="true">Found items</button>
  <button mat-menu-item href="/user">User</button>
</mat-menu>
<mat-menu  xPosition="before" #profile="matMenu">
  <div >
    <button mat-menu-item  routerLink="/user">Profile</button>
    <button mat-menu-item href="">My lost items</button>
    <button mat-menu-item href="">My found items</button>
    <div class="dropdown-divider"></div>
    <button mat-menu-item (click)="logout()" href="">Log out</button>
  </div>
</mat-menu>
