<div class="body">
  <app-toolbar></app-toolbar>

  <div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="assets/user1.png" alt=""/>

                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h3>
                                {{user.username}}
                            </h3>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link"  pageScroll href="#lostItems" >Lost items</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" pageScroll href="#foundItems" role="tab" aria-controls="profile" aria-selected="false">Found items</a>
                      </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">

                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>User Id</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{user.username}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{user.fullName}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{user.email}}</p>
                                    </div>
                                </div>

                    </div>

                </div>
            </div>
        </div>
    </form>
  </div>

  <div id="lostItems"  class="container emp-items ">
    <div class="row">
      <h2>Lost items</h2>
      <button type="button" (click)="openNewLostItemModal()" class="btn btn-success ml-auto " ><mat-icon class="align-middle">add</mat-icon><span class="align-middle">Add new item</span></button>
    </div>

    <div class="row items ">
    <div *ngFor="let item of user.lostItems | async " class="col-md-2.5 my-4 mx-3">
      <app-lost-item-card [lostItem] = item> </app-lost-item-card>
    </div>
    </div>
  </div>

  <div id="foundItems" class="container emp-items ">
    <div class="row">
      <h2>Found items</h2>
      <button type="button" (click)="openNewFoundItemModal()" class="btn btn-success ml-auto " ><mat-icon class="align-middle">add</mat-icon><span class="align-middle">Add new item</span></button>
    </div>
    <div class="row items ">
    <div *ngFor="let item of user.foundItems | async " class="col-md-2.5 my-4 mx-3">
      <app-found-item-card [foundItem] = item> </app-found-item-card>

    </div>
    </div>
  </div>

</div>
