<div class="card message-card">
  <h5 class="card-header">{{answer.foundItem.founder.username}}</h5>
  <div class="card-body">
    <p class="card-text msg">{{answer.message}}</p>
    <button type="button" class="btn btn-outline-info float-right">Check found item</button>
  </div>
</div>