.btn-outline-info {
  position: absolute;
  right: 3%;
  bottom: 8%;
}

.message-card {
	position: relative;
  border-radius: .4em;
  height: 11rem;
  margin-bottom: 1rem;
}

.message-card:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 28px solid transparent;
	border-right-color: #888888;
	border-left: 0;
	margin-top: -28px;
	margin-left: -28px;
}