<div class="card " >
  <img  src="assets/{{lostItem.picture.name}}" class="card-img-top img-thumbnail" alt="lost item">
  <div class="card-body">

    <h3 class="d-inline-block card-title">{{lostItem.name}}</h3>
    <h6 class="d-inline-block card-sub-title  text-muted float-right margin-top"><a href="users/">{{lostItem.searcher.username}}</a></h6>
    <p class="card-text">{{lostItem.getTempDescription()}}</p>

    <div class="button-group ">
      <a href="#" class="btn btn-outline-info">Details</a>
      <a href="#" class="btn btn-outline-success  float-right">Found it</a>
    </div>
  </div>
</div>

