.collapse-content .fa.fa-heart:hover {
  color: #f44336 !important;
}
.collapse-content .fa.fa-share-alt:hover {
  color: #0d47a1 !important;
}

.card {
  width: 17rem ;
  border: #ff5050 1.3px solid;

}
.card-body {
  height: 13rem !important;
}

img {
  width: 17rem ;
  height: 15rem;
}

.card-text{
font-size: 85%;
}

.button-group{
  position: absolute;
  bottom: 0.6rem;

}

.btn-outline-info{
  margin-right: 5rem;
}











