
<div class="modal-body">
  <form [formGroup]="lostItemForm" (ngSubmit)="onSubmit(lostItemForm.value)">
    <!--name-->
    <div class="form-group">
      <label for="name">Name of lost item</label>
      <input required type="text" id="name" formControlName="name" class="form-control" placeholder="Enter the name of the item">
      <mat-error *ngFor="let validation of validationMessages.name">
        <mat-error class="error-message" *ngIf="lostItemForm.get('name').hasError(validation.type) && validateOn">{{validation.message}}</mat-error>
      </mat-error>
    </div>

    <!--description-->
    <div class="form-group">
      <label for="item_desc">Description of the item</label>
      <textarea type="textfield" id="item_desc"  formControlName="itemDescription" class="form-control" placeholder="Description of the item"></textarea>
      <mat-error *ngFor="let validation of validationMessages.itemDescription">
        <mat-error class="error-message" *ngIf="lostItemForm.get('itemDescription').hasError(validation.type) && validateOn">{{validation.message}}</mat-error>
      </mat-error>
    </div>

    <!--picture-->
    <div class="form-group">
      <label >Picture of the item</label>
      <div [style.display]="hideFileChooser? 'none': 'block'" class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (fileDropped)="uploadFile($event)">
        <input hidden type="file" accept="image/*" formControlName="picture" #fileInput (change)="uploadFile($event.target.files)">

      </div>
      <div class="files-list" *ngIf="file !== null" >
          <img class="justify-content-center" [src]="pictureImgUrl" width="269.41px" height="240px" >
          <button class="delete-file" (click)="deleteAttachment()">
            <mat-icon>delete</mat-icon>
          </button>
      </div>
    </div>

    <!--date of lost-->
    <div class="form-group">
      <label for="date_of_lost">Date of lost</label><br>
      <mat-form-field >
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateOfLost">

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year" ></mat-datepicker>
      </mat-form-field>
      <mat-error *ngFor="let validation of validationMessages.dateOfLost">
        <mat-error class="error-message" *ngIf="lostItemForm.get('dateOfLost').hasError(validation.type) && validateOn">{{validation.message}}</mat-error>
      </mat-error>
    </div>

    <!--lost it here-->
    <div class="form-group">
      <label for="lost_it_here_place">Place of loss</label>
      <select id="inputState" class="form-control" formControlName="lostItHerePlace" id="lost_it_here_place" placeholder="Choose a place">
        <option [ngValue]="place" *ngFor="let place of lostItHerePlaces">{{place.name}}</option>
      </select>
      <mat-error *ngFor="let validation of validationMessages.lostItHerePlace">
        <mat-error class="error-message" *ngIf="lostItemForm.get('lostItHerePlace').hasError(validation.type) && validateOn">{{validation.message}}</mat-error>
      </mat-error>
    </div>

    <!--lost it here desc-->
    <div class="form-group">
      <label for="lost_it_here_desc">Lost it here</label>
      <textarea type="text" class="form-control" formControlName="lostItHereDescription" id="lost_it_here_desc" placeholder="Where did you lost it?" ></textarea>
      <mat-error *ngFor="let validation of validationMessages.lostItHereDescription">
        <mat-error class="error-message" *ngIf="lostItemForm.get('lostItHereDescription').hasError(validation.type) && validateOn">{{validation.message}}</mat-error>
      </mat-error>
    </div>

    <!--labels-->
    <div class="form-group">
      <label for="lost_it_here_desc">Add labels about the item</label>
      <ng-multiselect-dropdown
      class="filter-select"
      placeholder="Filters"
      name="Filters"
      [settings]="dropdownSettings"
      [data]="filters"
      [(ngModel)]="labels"
      formControlName="labels"
    >
    </ng-multiselect-dropdown>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
