.main {
  margin: 2% 3% 0 12%;

}

img {
  width: 80%;
  margin-bottom: 2rem;
}

h1 {
  font-size: 32px;
}

.details-side {

  width: 24% ;
  margin-right: 1%;
}

.lost-item-desc-card {
  height: 13.5rem;
  width: 80%;
}

.btn-outline-success {
  margin-top: 6%;
}

.description-side {
  width: 32%;
  margin-right: 5%;
}

.description-card{
  height: 35.5rem;
  margin-bottom: 3rem;
}

.label-card {
  height: 10rem;
  padding-left: 1%;
}

.label {
  margin-left: 1px ;
  margin-right: 1px ;
}
.messages-side {
  width: 26%;

}


