<app-toolbar></app-toolbar>
<div class="main row">

  <div class="details-side float-left">
    <img src="assets/{{foundItem.picture.name }}" class="img-thumbnail">


    <h1>{{foundItem.name}}</h1>
    <h4 ><a href="">{{foundItem.founder.username}}</a></h4>
    <h5>{{getDateOfLostInFormat()}}</h5>
    <p>Lost it here: Somewhere</p>


    <div class="card lost-item-desc-card">
      <div class="card-body">
        <p class="card-text">{{foundItem.foundItHereDescreption}}</p>
      </div>
    </div>
    <button type="button" class="btn btn-outline-success">Found it</button>
  </div>

  <div class="description-side ">
    <div class="card description-card">
      <h5 class="card-header">Description</h5>
      <div class="card-body">
        <p class="card-text">{{foundItem.itemDescription}}</p>
      </div>
    </div>
    <div class="card label-card">
      <div class="card-body row">
        <div class="label" *ngFor="let label of foundItem.labels ">
          <span class="badge-pill badge-info">{{label.name}}</span>
        </div>
      </div>
    </div>


  </div>


</div>
